#**NUMPY**

In [2]:
import numpy as np

**1) Check if all elements from the following arrays return the logical value True:**

In [3]:
A = np.array([[3, 2, 1, 4],
              [5, 2, 1, 6]])

B = np.array([[3, 2, 1, 4],
              [5, 2, 0, 6]])

C = np.array([[True, False, False],
              [True, True, True]])

D = np.array([0.1, 0.3])

In [4]:
for name, array in zip(list('ABCD'),[A,B,C,D]):
  print(f'{name}:{np.all(array)}')

A:True
B:False
C:False
D:True

**2) Check if all elements from the following arrays return the logical value True along the axis with index 1:**

In [5]:
A = np.array([[3, 2, 1, 4],
              [5, 2, 1, 6]])

B = np.array([[3, 2, 1, 4],
              [5, 2, 0, 6]])

C = np.array([[True, False, False],
              [True, True, True]])

In [6]:
for name, array in zip(list('ABCD'),[A,B,C]):
  print(f'{name}{np.all(array,1)}')

A[ True  True]
B[ True False]
C[False  True]

**3) Check if any element of the following arrays returns the logical value True:**

In [7]:
A = np.array([[0, 0, 0],
              [0, 0, 0]])

B = np.array([[0, 0, 0],
              [0, 1, 0]])

C = np.array([[False, False, False],
              [True, False, False]])

D = np.array([[0.1, 0.0]])

In [8]:
for name, array in zip(list('ABCD'),[A,B,C,D]):
  print(f'{name}: {np.any(array)}')

A: False
B: True
C: True
D: True

**4) Check if any element of the following arrays returns the logical value True along the axis with index 0:**

In [9]:
A = np.array([[0, 0, 0],
              [0, 0, 0]])

B = np.array([[0, 0, 0],
              [0, 1, 0]])

C = np.array([[False, False, False],
              [True, False, False]])

D = np.array([[0.1, 0.0]])

In [10]:
for name, array in zip(list('ABCD'),[A,B,C,D]):
  print(f'{name}: {np.any(array,0)}')

A: [False False False]
B: [False  True False]
C: [ True False False]
D: [ True False]

**5) Check if the following array has missing data (np.nan):**

In [11]:
A = np.array([[3, 2, 1, np.nan],
              [5, np.nan, 1, 6]])

In [12]:
print(np.isnan(A))

[[False False False  True]
 [False  True False False]]

**6) Check if the following arrays are equal (element-wise):**

In [13]:
A = np.array([0.4, 0.5, 0.3])
B = np.array([0.39999999, 0.5000001, 0.3])

In [14]:
print(np.allclose(A,B))

True

**7) Check if the following arrays are equal (element-wise): Use the comparison operator == in this exercise and print the result to the console.**

In [15]:
A = np.array([0.4, 0.5, 0.3])
B = np.array([0.3999999999, 0.5000000001, 0.3])

In [16]:
print(A==B)
print(np.equal(A,B))

[False False  True]
[False False  True]

**8) Check which numbers (element-wise) from the A array are greater than numbers from the B array and print result to the console as shown below.**

In [17]:
A = np.array([0.4, 0.5, 0.3, 0.9])
B = np.array([0.38, 0.51, 0.3, 0.91])

In [18]:
print(A>B)
print(np.greater(A,B))

[ True False False False]
[ True False False False]

**9) Using Numpy create a 4x4 array filled with zeros (set data type to int). In response print this array to the console.**

In [19]:
A=np.zeros((4,4))

In [20]:
print(A)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

**10) Using Numpy, create an array 10x10 filled with number 255 and set the data type to float. Print this array to the console as shown below.**

In [21]:
A=np.ones((10,10))
print(255*A)

[[255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]
 [255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]
 [255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]
 [255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]
 [255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]
 [255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]
 [255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]
 [255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]
 [255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]
 [255. 255. 255. 255. 255. 255. 255. 255. 255. 255.]]

In [22]:
print(np.full((10,10),255))

[[255 255 255 255 255 255 255 255 255 255]
 [255 255 255 255 255 255 255 255 255 255]
 [255 255 255 255 255 255 255 255 255 255]
 [255 255 255 255 255 255 255 255 255 255]
 [255 255 255 255 255 255 255 255 255 255]
 [255 255 255 255 255 255 255 255 255 255]
 [255 255 255 255 255 255 255 255 255 255]
 [255 255 255 255 255 255 255 255 255 255]
 [255 255 255 255 255 255 255 255 255 255]
 [255 255 255 255 255 255 255 255 255 255]]

**11) Using Numpy create a one-dimensional array of all two-digit numbers and print this array to the console as shown below.**

In [23]:
print(np.arange(10,100))

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57
 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81
 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99]

**12) Using Numpy create the following array:**
'''

[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]
 '''

In [24]:
print(np.arange(10,100).reshape(9,10))

[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]

In [25]:
#Use minus for the rows
print(np.arange(10,100).reshape(-1,10))

[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]

In [26]:
#Use minus for the columns
print(np.arange(10,100).reshape(9,-1))

[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]

**13) Using Numpy create a 6x6 two-dimensional array - identity matrix with int data type. Print this array to the console as shown below.**

In [27]:
print(np.eye(6,6,dtype='int'))

[[1 0 0 0 0 0]
 [0 1 0 0 0 0]
 [0 0 1 0 0 0]
 [0 0 0 1 0 0]
 [0 0 0 0 1 0]
 [0 0 0 0 0 1]]

**14) Set the random seed to 10. Then using Numpy create a one-dimensional array consisting of 30 pseudo-randomly generated values from the uniform distribution [0,1). Print result to the console as shown below.**

In [28]:
np.random.seed(10)

In [29]:
print(np.random.rand(30))

[0.77132064 0.02075195 0.63364823 0.74880388 0.49850701 0.22479665
 0.19806286 0.76053071 0.16911084 0.08833981 0.68535982 0.95339335
 0.00394827 0.51219226 0.81262096 0.61252607 0.72175532 0.29187607
 0.91777412 0.71457578 0.54254437 0.14217005 0.37334076 0.67413362
 0.44183317 0.43401399 0.61776698 0.51313824 0.65039718 0.60103895]

**15) Using Numpy create a two-dimensional array with the shape (10, 4) pseudo-randomly generated values from the standard normal distribution N(0,1). Set the random seed to 20. Print result to the console as shown below.**

In [30]:
np.random.seed(20)

In [31]:
np.random.randn(40).reshape(10,4)

array([[ 0.88389311,  0.19586502,  0.35753652, -2.34326191],
       [-1.08483259,  0.55969629,  0.93946935, -0.97848104],
       [ 0.50309684,  0.40641447,  0.32346101, -0.49341088],
       [-0.79201679, -0.84236793, -1.27950266,  0.24571517],
       [-0.0441948 ,  1.56763255,  1.05110868,  0.40636843],
       [-0.1686461 , -3.18970279,  1.12013226,  1.33277821],
       [-0.24333877, -0.13003071, -0.10901737,  1.55618644],
       [ 0.12877835, -2.06694872, -0.88549315, -1.10457948],
       [ 0.93286635,  2.059838  , -0.93493796, -1.61299022],
       [ 0.52706972, -1.55110074,  0.32961334, -1.13652654]])

In [32]:
np.random.randn(10,4)

array([[-3.38490605e-01,  3.20970784e-01, -6.02308018e-01,
         1.54472836e+00],
       [ 6.47034084e-01,  5.93217213e-01,  4.38024497e-01,
         1.35778902e+00],
       [ 1.20451128e+00,  1.35179619e+00,  4.93437236e-01,
        -2.70436525e+00],
       [-5.55185797e-01,  1.50856026e-03,  8.57093817e-01,
         1.48114365e+00],
       [-2.19661122e-01,  1.50339816e+00, -1.48238505e+00,
        -8.56164218e-01],
       [-8.28692770e-01,  1.14047603e-01,  5.27728470e-01,
         1.55838222e-01],
       [ 1.30142940e+00, -9.94801908e-01,  2.09466534e+00,
         3.59428994e-01],
       [ 6.91002119e-01, -1.48571961e+00,  9.87886147e-02,
        -2.28321031e-01],
       [-8.54775487e-01, -5.13145106e-01, -9.62215984e-01,
        -4.82450911e-01],
       [-2.39469757e-01,  4.59744227e-01,  6.46430166e-01,
         4.87402961e-01]])

**16) Using Numpy create a two-dimensional array with the shape (10, 4) pseudo-randomly generated values from the normal distribution N(100, 5). Set the random seed to 30. Print result to the console as shown below.**

In [33]:
np.random.seed(30)
mu=100
sigma=np.sqrt(5)

In [34]:
mu+sigma*np.random.randn(10,4)

array([[ 97.17349231, 103.41650023,  97.82942436, 101.05220329],
       [ 99.7748353 , 100.67930221,  96.14063068, 103.544381  ],
       [100.30029631,  97.52499594, 103.52901961, 100.24037271],
       [ 98.29153712,  98.2666258 , 103.09437633, 101.70027274],
       [ 99.36127721, 101.20382627,  95.34026547, 102.09694365],
       [ 99.98708001,  98.95468525,  99.05410904, 102.38025432],
       [ 93.50787269, 103.61547679, 103.18753701,  98.51356237],
       [102.20256689,  96.19764407,  97.54000366,  97.05813038],
       [101.81233513,  97.66380453,  98.45883627,  98.09317768],
       [102.48979932,  95.70413391,  98.43161651, 101.89861815]])

**17) Iterate through this array and print each element to the console.**

In [35]:
A = np.array([[1, 4, 3],
              [5, 2, 6]])

In [36]:
for i in np.nditer(A):
  print(i)

1
4
3
5
2
6

**18) Using Numpy create a one-dimensional array (vector) consisting of eleven equally distributed numbers from the [0,1] interval.**

In [37]:
print(np.linspace(0,1,11))

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

**19) Using Numpy create a one-dimensional array (vector) containing the possible result from the Big Lotto game. Set the random seed to 42. Print result to the console. Tip: The result of this game is a 6-element vector of values from 1 to 49 inclusive.**

In [38]:
np.random.seed(42)

In [39]:
print(np.random.choice(range(1,50),6,replace=False))

[14 46 48 45 18 28]

**20) Using Numpy create the following two-dimensional array:**

[[0 0 0 0 0 0]

 [0 1 0 0 0 0]

 [0 0 2 0 0 0]

 [0 0 0 3 0 0]

 [0 0 0 0 4 0]

 [0 0 0 0 0 5]]

In [40]:
v=[0,1,2,3,4,5]
print(np.diag(v))

[[0 0 0 0 0 0]
 [0 1 0 0 0 0]
 [0 0 2 0 0 0]
 [0 0 0 3 0 0]
 [0 0 0 0 4 0]
 [0 0 0 0 0 5]]

In [41]:
print(np.diag(np.arange(6)))

[[0 0 0 0 0 0]
 [0 1 0 0 0 0]
 [0 0 2 0 0 0]
 [0 0 0 3 0 0]
 [0 0 0 0 4 0]
 [0 0 0 0 0 5]]

**21) Using Numpy create the following array:Save this array to a binary file named 'array.npy' and then load that file back into another variable. Print this variable to the console.**

[[ 0,  1,  2,  3],
       
  [ 4,  5,  6,  7],

  [ 8,  9, 10, 11]]

In [42]:
A=np.arange(0,12).reshape(3,4)
np.save('array.npy',A)

In [43]:
B=np.load('array.npy')
print(B)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

**22) Using Numpy create the following array:**

array([[ 0,  1,  2,  3],

       [ 4,  5,  6,  7],

       [ 8,  9, 10, 11]])

**Save this array to a text file named 'array.txt' with two decimal places and then load this file back into another variable. Print this variable to the console.**

In [44]:
np.arange(4,12).reshape(2,-1)
np.savetxt('array.txt',A)

In [45]:
B=np.loadtxt('array.txt')
print(B)

[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]]

**23) Using Numpy create and convert the following array into the list:**

    ([[ 0,  1,  2,  3],

       [ 4,  5,  6,  7],

       [ 8,  9, 10, 11]])

In [46]:
A=np.arange(0,12).reshape(3,-1)

In [47]:
print(A.tolist())

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

**24) The following array is given:**

array([[ 0,  1,  2,  3],

       [ 4,  5,  6,  7],

       [ 8,  9, 10, 11]])

**Using the slice operator, transform this array into the following:**

array([[ 8,  9, 10, 11],

       [ 4,  5,  6,  7],

       [ 0,  1,  2,  3]])

**In response, print transformed array to the console.**

In [48]:
print(A[::-1])

[[ 8  9 10 11]
 [ 4  5  6  7]
 [ 0  1  2  3]]

**25) The following array:**

array([[1., 1., 1., 1.],

       [1., 1., 1., 1.],

       [1., 1., 1., 1.],

       [1., 1., 1., 1.]])

**transform to this array:**

array([[0., 0., 0., 0., 0., 0.],

       [0., 1., 1., 1., 1., 0.],

       [0., 1., 1., 1., 1., 0.],

       [0., 1., 1., 1., 1., 0.],

       [0., 1., 1., 1., 1., 0.],
       
       [0., 0., 0., 0., 0., 0.]])

In [49]:
A=np.ones((4,4))
print(np.pad(A, pad_width=1, constant_values=0))

[[0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0. 0.]]

**26) The following array:**

      [[0, 0, 0, 0, 0, 0],

       [0, 0, 0, 0, 0, 0],

       [0, 0, 0, 0, 0, 0],

       [0, 0, 0, 0, 0, 0],

       [0, 0, 0, 0, 0, 0],

       [0, 0, 0, 0, 0, 0]]

**transform to the following:**

      [[10,  0, 10,  0, 10,  0],

       [ 5,  0,  5,  0,  5,  0],

       [10,  0, 10,  0, 10,  0],

       [ 5,  0,  5,  0,  5,  0],

       [10,  0, 10,  0, 10,  0],
       
       [ 5,  0,  5,  0,  5,  0]]


**In response, print transformed array to the console.**

**Tip: Use the slice operator and assign the appropriate values.**

In [50]:
A=np.zeros((6,6))

In [51]:
A[::2,::2]=10
A[1::2,1::2]=5
print(A)

[[10.  0. 10.  0. 10.  0.]
 [ 0.  5.  0.  5.  0.  5.]
 [10.  0. 10.  0. 10.  0.]
 [ 0.  5.  0.  5.  0.  5.]
 [10.  0. 10.  0. 10.  0.]
 [ 0.  5.  0.  5.  0.  5.]]

**27) Combine the following arrays into one as shown below and print it to the console.**

In [52]:
A = np.arange(12).reshape(-1, 4)
B = np.array([[4, 3, 7, 2],
              [0, 5, 2, 6]])

In [53]:
print(np.append(A,B,0))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [ 4  3  7  2]
 [ 0  5  2  6]]

**28) Extract the same elements (intersection) of the arrays as a list and print result to the consol.**

In [54]:
A = np.arange(8).reshape(-1, 4)
B = np.array([[9, 10, 11, 3],
              [2, 8, 0, 9]])

In [55]:
print(np.intersect1d(A,B))

[0 2 3]

**29) Extract all unique values of this array as a list and print it to the console.**

In [56]:
A = np.array([[5, 1, 2, 1, 2],
              [9, 1, 9, 7, 5],
              [4, 1, 5, 7, 9]])

In [57]:
print(np.unique(A))

[1 2 4 5 7 9]

**30) Return a list of indexes with maximum values for each row from this array and print it to the console.**

In [58]:
A = np.array([[0.4, 0.3, 0.3],
              [0.1, 0.1, 0.8],
              [0.2, 0.5, 0.3]])

In [59]:
print(np.argmax(A,1))

[0 2 1]

**31) Sort this array: by row (ascending), by column (ascending), and print result to the console as shown below.**

In [60]:
A = np.array([[4.99, 3.49, 9.99],
              [1.99, 9.99, 4.99],
              [14.99, 2.39, 7.29]])

In [61]:
print(np.sort(A))
print(np.sort(A,0))

[[ 3.49  4.99  9.99]
 [ 1.99  4.99  9.99]
 [ 2.39  7.29 14.99]]
[[ 1.99  2.39  4.99]
 [ 4.99  3.49  7.29]
 [14.99  9.99  9.99]]

**32) Extract all elements from the following array with a value greater than 8 and print result to the console.**

In [62]:
A = np.array([[4.99, 3.49, 9.99],
              [1.99, 9.99, 4.99],
              [14.99, 2.39, 7.29]])

In [63]:
print(A[A>8])

[ 9.99  9.99 14.99]

**33) Replace elements greater than 10 with a fixed value = 10.0 and print result to the console.**

In [64]:
A = np.array([[4.99, 3.49, 9.99],
              [1.99, 9.99, 14.99],
              [14.99, 2.39, 7.29]])

In [65]:
print(np.where(A>10.0,10.0,A))

[[ 4.99  3.49  9.99]
 [ 1.99  9.99 10.  ]
 [10.    2.39  7.29]]

**34) Present the following two-dimensional array as a flattened one-dimensional array and print result to the console.**

In [66]:
A = np.array([[4.99, 3.49, 9.99],
              [1.99, 9.99, 14.99],
              [14.99, 2.39, 7.29]])

In [67]:
print(np.ravel(A))

[ 4.99  3.49  9.99  1.99  9.99 14.99 14.99  2.39  7.29]

**35) Using Numpy create an array of the same shape and data type as the given array and fill it with zeros. Print this array to the console.**

In [68]:
A = np.array([[4.99, 3.49, 9.99],
              [1.99, 9.99, 14.99],
              [14.99, 2.39, 7.29]])

In [69]:
a,b=A.shape
print(np.zeros((a,b)))

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [70]:
#OR
print(np.zeros_like(A))

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

**36) Using Numpy create an array of the same shape and data type as the given array and fill it with a constant value = 9.99. Print this array to the console.**

In [71]:
A = np.array([[4.99, 3.49, 9.99],
              [1.99, 9.99, 14.99],
              [14.99, 2.39, 7.29]])

In [72]:
print(np.full_like(A,9.99))

[[9.99 9.99 9.99]
 [9.99 9.99 9.99]
 [9.99 9.99 9.99]]

**37) sing Numpy create a two-dimensional array (lower triangular matrix):**

In [73]:
print(np.tri(5,5))

[[1. 0. 0. 0. 0.]
 [1. 1. 0. 0. 0.]
 [1. 1. 1. 0. 0.]
 [1. 1. 1. 1. 0.]
 [1. 1. 1. 1. 1.]]

**38) Using Numpy create any 3-dimensional array with shape (2, 3, 4) and assign to variable A.**

In [74]:
A=np.array([[[4,5,4,1],[6,3,5,1],[5,2,1,2]],[[7,2,3,1],[6,2,0,9],[0,1,9,1]]])

In [75]:
print(A)

[[[4 5 4 1]
  [6 3 5 1]
  [5 2 1 2]]

 [[7 2 3 1]
  [6 2 0 9]
  [0 1 9 1]]]

**39) Using Numpy create a two-dimensional array with shape of (200, 300) filled with random values from 0 to 255 (inclusive) with data type np.uint8 and assign to the variable image.**

In [76]:
print(np.random.randint(low=0,high=256,size=(200,300),dtype=np.uint8))

[[249 167 170 ... 188 154   3]
 [138  20 194 ...  38  45  74]
 [242 108 221 ... 184  57 105]
 ...
 [180  55 112 ... 143 189 122]
 [ 21  11 118 ... 244 248 221]
 [219  87 125 ... 245 135 179]]

**40) The following array is given: Sort this array along the rows in ascending order and assign to the variable image_sorted.**

In [77]:
image = np.random.randint(low=0, high=256, size=(200, 300), dtype=np.uint8)

In [78]:
image_sorted=np.sort(image)
print(image_sorted)

[[  0   1   2 ... 254 254 255]
 [  0   0   0 ... 254 255 255]
 [  1   2   2 ... 254 255 255]
 ...
 [  3   3   4 ... 253 255 255]
 [  0   1   5 ... 255 255 255]
 [  0   1   2 ... 253 254 254]]

**41) Expand this array by one dimension (add a new dimension at the beginning). Expected shape of the output array: (1, 2, 3). In response, print array to the console.**

In [79]:
A = np.array([[4, 2, 1],
              [6, 4, 2]])

In [80]:
print(np.expand_dims(A,axis=0))

[[[4 2 1]
  [6 4 2]]]

**42) Using Numpy create a three-dimensional array called image with shape (200, 300, 3) filled with random values from 0 to 255 (inclusive) and data type np.uint8. Set random seed to 42.**

In [81]:
np.random.seed(42)

In [82]:
image=np.random.randint(low=0,high=255,size=(200,300,3),dtype=np.uint8)
print(image)

[[[102 220 225]
  [ 95 179  61]
  [234 203  92]
  ...
  [ 87 102 225]
  [ 65 170   0]
  [238 169 170]]

 [[213 159  44]
  [250 224 206]
  [ 61 166 174]
  ...
  [ 21  68  30]
  [ 64 237  26]
  [118  62 157]]

 [[198   1 151]
  [ 37  56  23]
  [249 229 184]
  ...
  [226  44 203]
  [116  99 121]
  [143 171 100]]

 ...

 [[121  81 132]
  [ 24  81 157]
  [159 107 224]
  ...
  [ 40 152  71]
  [172 172 181]
  [161 162 182]]

 [[ 15 149  74]
  [119  23 213]
  [ 21  19 222]
  ...
  [125 104 171]
  [213  60  64]
  [110 194  65]]

 [[230 207  82]
  [ 37 128 173]
  [ 94 129   3]
  ...
  [141  11 175]
  [ 57 150  59]
  [127 155 161]]]

**43) Extend this array by one dimension (add a new dimension at the beginning) and assign to image_extended variable. Expected shape of this array is (1, 200, 300, 3).**

In [83]:
image = np.random.randint(low=0, high=256, size=(200, 300, 3), dtype=np.uint8)

In [84]:
print(np.expand_dims(image,0))

[[[[142 229 254]
   [254 165 235]
   [ 44 141  49]
   ...
   [188 228 235]
   [150  92  69]
   [141  53 255]]

  [[157  79 123]
   [148 231 178]
   [211 196 142]
   ...
   [228 164  10]
   [ 73 167 231]
   [137 138 113]]

  [[212 224 151]
   [120 156  39]
   [255 152 253]
   ...
   [127 248 216]
   [190 211  25]
   [106 200 169]]

  ...

  [[  2 126 153]
   [ 71 203 115]
   [119  81 204]
   ...
   [164  24  85]
   [ 69 250 148]
   [ 33 245  14]]

  [[121 248 201]
   [ 77 210 150]
   [191 196  87]
   ...
   [165  92  63]
   [231 207  30]
   [ 38 215 132]]

  [[236  90 107]
   [148 173  25]
   [ 45  62 154]
   ...
   [ 14 169  18]
   [ 82  87 224]
   [220 117  62]]]]

**44) Expand each of these arrays by adding one dimension at the beginning and then combine these arrays into one called images. Expected shape of images array: (2, 200, 300, 3).**

In [85]:
image1 = np.random.randint(low=0, high=256, size=(200, 300, 3), dtype=np.uint8)
image2 = np.random.randint(low=0, high=256, size=(200, 300, 3), dtype=np.uint8)

In [86]:
image1=np.expand_dims(image1,0)
image2=np.expand_dims(image2,0)
image=np.append(image1,image2,0)
print(image)

[[[[151 157 148]
   [ 70  37 117]
   [161 232  50]
   ...
   [225  56  43]
   [219 201  30]
   [212  42  15]]

  [[ 57 197  12]
   [255 228  91]
   [189 197 153]
   ...
   [ 33 178 186]
   [109 214  60]
   [146  76  55]]

  [[172 191  67]
   [198 130 164]
   [126  66 248]
   ...
   [ 39  95 179]
   [229 143  79]
   [  1 218  15]]

  ...

  [[199  57  73]
   [134 111  67]
   [187 224  45]
   ...
   [142  20 158]
   [ 40 252 155]
   [165 110  96]]

  [[106 158  66]
   [  4 101  12]
   [ 65 231  85]
   ...
   [117  79 242]
   [ 52  16 114]
   [107  39  17]]

  [[207 106  98]
   [168 121 255]
   [ 10  75 152]
   ...
   [ 58 237 224]
   [222  20  79]
   [173  76  50]]]


 [[[ 88 245   1]
   [113 177 131]
   [247 162  66]
   ...
   [113 162 191]
   [ 30   0  84]
   [ 10 176 150]]

  [[153  81 183]
   [221 128 149]
   [160 241 240]
   ...
   [231  92 194]
   [107  47 183]
   [ 76 191 136]]

  [[255  40  67]
   [169  32  82]
   [143  22 218]
   ...
   [243  41 254]
   [ 92   1 221]
   [172 240  17]]

  ...

  [[ 23  66 107]
   [ 47 228  24]
   [ 26 234 119]
   ...
   [ 28 224 181]
   [ 36 248 184]
   [ 78 131  88]]

  [[ 97 181  96]
   [133 235  88]
   [ 88 229  10]
   ...
   [163  18 139]
   [119  15  35]
   [152  52 141]]

  [[ 91  13  26]
   [166   0 121]
   [ 87 247 191]
   ...
   [ 39 109  44]
   [ 70   8  44]
   [235  40 254]]]]

**45) Shape of this array is (1, 2, 3). Remove the unnecessary first dimension and extract (2, 3) array and print it to the console as shown below.**

In [87]:
A = np.array([[[1, 2, 3],
               [6, 3, 2]]])

In [88]:
print(np.squeeze(A,0))

[[1 2 3]
 [6 3 2]]

**46) Shape of this array is (4, 1). Remove the unnecessary dimension and extract (4, ) array and print result to the console.**

In [89]:
A = np.array([[0.4],
              [0.9],
              [0.5],
              [0.6]])

In [90]:
print(np.squeeze(A,1))

[0.4 0.9 0.5 0.6]

**47) Using the slice operator, transform this array into the following:**

array([[ 3,  2,  1,  0],
      
       [ 7,  6,  5,  4],
      
       [11, 10,  9,  8]])

In [91]:
A=np.array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [92]:
print(A[:,::-1])

[[ 3  2  1  0]
 [ 7  6  5  4]
 [11 10  9  8]]

**48) Using the slice operator, transform this array into the following:**

      [[11, 10,  9,  8],

       [ 7,  6,  5,  4],

       [ 3,  2,  1,  0]]

In [93]:
A=np.array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [94]:
print(A[::-1,::-1])

[[11 10  9  8]
 [ 7  6  5  4]
 [ 3  2  1  0]]

**49) Random seed is set to 42. The following array is given:Extract the first channel (index 0) of this image array and print it to the console.**

In [95]:
image = np.random.randint(low=0, high=256, size=(10, 10, 3), dtype=np.uint8)

In [96]:
np.random.seed(42)
print(image[:,:,0])

[[133  77  11   6 246 211  12 167 100 157]
 [  5 128  72  82 171  76  48  37 175  43]
 [177 167  16 215 240 212 206 171 201 116]
 [ 66  26 169 122 110 168 109 219 139 109]
 [ 19 247 227  24  49 134 188 184  94  25]
 [  4 104  27 152 234  99  11 203 183  34]
 [125 102 186 101   4 105  63 249 158 214]
 [ 38 179  76  41 185  53  52  28  44 190]
 [ 76 144  88  53 105  75  10 118 117 228]
 [ 95 158 208 169 197  37 239  44 131  25]]

**50) Extract any array of shape (5, 5, 3) from this array and assign to the result variable.**

In [97]:
image = np.random.randint(low=0, high=256, size=(10, 10, 3), dtype=np.uint8)

In [98]:
result=image[:5,:5,:3]
print(result)

[[[102 220 225]
  [ 95 179  61]
  [234 203  92]
  [  3  98 243]
  [ 14 149 245]]

 [[203 152 102]
  [214 240  39]
  [121  24  34]
  [114 210  65]
  [239  39 214]]

 [[116 237 109]
  [ 85  99 172]
  [226 153 103]
  [235 146  36]
  [151  62  68]]

 [[ 76 248  87]
  [233 212 184]
  [235 245  26]
  [213 157 253]
  [ 68 240  37]]

 [[ 20 153 243]
  [ 46 160  68]
  [ 19 158 203]
  [209 226  77]
  [ 57  77 149]]]

**51) Concatenate these arrays as follows:**

In [99]:
A = np.array([[3, 4, 5],
              [8, 3, 1]])
B = np.array([[0, 5, 2],
              [4, 2, 1]])

In [100]:
np.concatenate((A,B))

array([[3, 4, 5],
       [8, 3, 1],
       [0, 5, 2],
       [4, 2, 1]])

**52) Concatenate these arrays as follows:**

In [101]:
data = np.array([[4.3, 4.2],
                 [3.1, 3.6]])
target = np.array([[0],
                   [1]])

In [102]:
print(np.concatenate((data,target),axis=1))

[[4.3 4.2 0. ]
 [3.1 3.6 1. ]]

**53) Transform each of these arrays into a column and concatenate them into one array as shown below. In response, print this array to the console.**

In [103]:
feature1 = np.array([1.6, 0.9, 2.2])
feature2 = np.array([0.4, 1.3, 3.2])
feature3 = np.array([1.4, 0.3, 1.2])

In [104]:
print(np.column_stack((feature1,feature2,feature3)))

[[1.6 0.4 1.4]
 [0.9 1.3 0.3]
 [2.2 3.2 1.2]]

**54) Split this array into three parts**

***the first two columns assign to the A1 variable***

***the next four columns assign to the A2 variable***

***the last two columns assign to the A3 variable***

***In response, print these arrays to the console as shown below.***

In [105]:
A = np.random.randint(low=0, high=7, size=(5, 8))
A[:, :2] = 0
A[:, -2:] = 1
A

array([[0, 0, 3, 6, 3, 6, 1, 1],
       [0, 0, 5, 0, 3, 1, 1, 1],
       [0, 0, 5, 1, 3, 5, 1, 1],
       [0, 0, 3, 1, 1, 5, 1, 1],
       [0, 0, 5, 6, 3, 0, 1, 1]])

In [106]:
np.random.seed(42)
 
A1, A2, A3 = np.split(A,[2,6],1)
print(A1)
print(A2)
print(A3)

[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]]
[[3 6 3 6]
 [5 0 3 1]
 [5 1 3 5]
 [3 1 1 5]
 [5 6 3 0]]
[[1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]]

**55) Calculate the total number of non-zero elements in this array and print it to the console.**

In [107]:
A = np.random.randint(low=0, high=2, size=(10, 6))
A

array([[0, 1, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 1, 1],
       [1, 0, 1, 0, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [0, 0, 1, 1, 1, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0]])

In [108]:
print(np.count_nonzero(A))

31

**56) Set the Numpy option to print arrays with specified precision. Set precision to 4 and print this array.**

In [109]:
np.random.seed(42)
A = np.random.randn(10, 4)

In [110]:
np.set_printoptions(4)
print(A)

[[ 0.4967 -0.1383  0.6477  1.523 ]
 [-0.2342 -0.2341  1.5792  0.7674]
 [-0.4695  0.5426 -0.4634 -0.4657]
 [ 0.242  -1.9133 -1.7249 -0.5623]
 [-1.0128  0.3142 -0.908  -1.4123]
 [ 1.4656 -0.2258  0.0675 -1.4247]
 [-0.5444  0.1109 -1.151   0.3757]
 [-0.6006 -0.2917 -0.6017  1.8523]
 [-0.0135 -1.0577  0.8225 -1.2208]
 [ 0.2089 -1.9597 -1.3282  0.1969]]

**57) Set the precision to 8 and also set the appropriate Numpy option to suppress mathematical notation and print this array to the console.**

In [111]:
A = np.array([1.2e-6, 1.7e-7])

In [112]:
np.set_printoptions(suppress=True,precision=8)
print(A)

[0.0000012  0.00000017]

**58) Remove the third column and print this array to the console.**

In [113]:
A = np.random.randn(8, 4)
A

array([[ 0.73846658,  0.17136828, -0.11564828, -0.3011037 ],
       [-1.47852199, -0.71984421, -0.46063877,  1.05712223],
       [ 0.34361829, -1.76304016,  0.32408397, -0.38508228],
       [-0.676922  ,  0.61167629,  1.03099952,  0.93128012],
       [-0.83921752, -0.30921238,  0.33126343,  0.97554513],
       [-0.47917424, -0.18565898, -1.10633497, -1.19620662],
       [ 0.81252582,  1.35624003, -0.07201012,  1.0035329 ],
       [ 0.36163603, -0.64511975,  0.36139561,  1.53803657]])

In [114]:
print(np.delete(A,[2],axis=1))

[[ 0.73846658  0.17136828 -0.3011037 ]
 [-1.47852199 -0.71984421  1.05712223]
 [ 0.34361829 -1.76304016 -0.38508228]
 [-0.676922    0.61167629  0.93128012]
 [-0.83921752 -0.30921238  0.97554513]
 [-0.47917424 -0.18565898 -1.19620662]
 [ 0.81252582  1.35624003  1.0035329 ]
 [ 0.36163603 -0.64511975  1.53803657]]

**59) Calculate the norm of this vector and print result to the console.**

In [115]:
v = np.array([3, 4, -2])

In [116]:
print(np.linalg.norm(v))

5.385164807134504

**60) Set the Numpy option to print only ten edge elements and then print this array to the console.**

In [117]:
A = np.random.randint(10, size=(100, 30))

In [118]:
np.set_printoptions(edgeitems=10)
print(A)

[[6 8 9 9 2 6 0 3 3 4 ... 5 3 9 6 8 6 0 0 8 8]
 [3 8 2 6 5 7 8 4 0 2 ... 6 1 2 0 4 0 7 0 0 1]
 [1 5 6 4 0 0 2 1 4 9 ... 1 5 5 0 8 5 2 3 3 2]
 [9 2 2 3 6 3 8 0 7 6 ... 9 8 3 0 1 0 4 4 6 8]
 [8 2 2 2 3 7 5 7 0 7 ... 8 1 1 1 5 2 8 3 0 3]
 [0 4 3 7 7 6 2 0 0 2 ... 0 0 4 2 3 2 0 0 4 5]
 [2 8 4 7 0 4 2 0 3 4 ... 7 1 5 6 1 9 1 9 0 7]
 [0 8 5 6 9 6 9 2 1 8 ... 1 1 6 5 2 8 9 5 9 9]
 [5 0 3 9 5 5 4 0 7 4 ... 9 2 0 7 2 9 6 9 4 9]
 [4 6 8 4 0 9 9 0 1 5 ... 2 4 5 8 4 0 3 4 9 9]
 ...
 [8 0 7 3 8 4 2 8 8 3 ... 1 4 4 4 3 4 2 0 4 8]
 [8 3 2 0 1 7 0 7 6 7 ... 3 8 2 3 6 6 3 5 2 5]
 [1 7 1 6 8 0 7 6 5 5 ... 8 0 2 7 2 3 7 0 5 0]
 [0 7 3 0 9 6 4 4 0 9 ... 2 6 6 8 6 2 0 7 2 7]
 [7 4 0 9 6 9 4 7 8 6 ... 4 2 7 3 0 0 9 2 8 6]
 [1 8 9 1 2 9 1 2 5 8 ... 1 0 8 2 0 6 9 4 4 0]
 [8 6 7 8 5 4 5 1 3 2 ... 7 9 8 5 3 0 7 6 1 7]
 [4 6 3 4 7 0 0 3 2 9 ... 5 0 3 0 1 4 7 7 2 3]
 [9 5 9 2 1 5 4 9 4 9 ... 3 0 5 3 4 4 8 0 1 5]
 [4 6 2 2 9 1 2 9 0 4 ... 0 2 1 7 5 8 7 9 2 4]]

**61) Calculate arithmetic means of these arrays (elementwise) and print result to the console.**

In [119]:
A = np.array([[3, 4, 9, 2],
              [5, 3, 2, 5]])
B = np.array([[4, 3, 2, 5],
              [6, 3, 1, 6]])

In [120]:
print((A+B)/2)

[[3.5 3.5 5.5 3.5]
 [5.5 3.  1.5 5.5]]

**62) Multiply these arrays (elementwise) and print result to the console.**

In [121]:
A = np.array([[3, 4, 9, 2],
              [5, 3, 2, 5]])
B = np.array([[4, 3, 2, 5],
              [6, 3, 1, 6]])

In [122]:
print(A*B)

[[12 12 18 10]
 [30  9  2 30]]

**64) Calculate the square root of each element of this array and print result to the console.**

In [123]:
A = np.array([[3, 4, 9, 2],
              [5, 3, 2, 5]])

In [124]:
print(np.sqrt(A))

[[1.73205081 2.         3.         1.41421356]
 [2.23606798 1.73205081 1.41421356 2.23606798]]

**65) Check the Pythagorean formula for sines and cosines on the A array and then compare the result with the B array. Use the np.allclose() function in this exercise. In response, print result to the console.**

In [125]:
A = np.linspace(0, np.pi / 2, 20)
B = np.full(shape=(20,), fill_value=1, dtype='float')
A

array([0.        , 0.08267349, 0.16534698, 0.24802047, 0.33069396,
       0.41336745, 0.49604095, 0.57871444, 0.66138793, 0.74406142,
       0.82673491, 0.9094084 , 0.99208189, 1.07475538, 1.15742887,
       1.24010236, 1.32277585, 1.40544935, 1.48812284, 1.57079633])

In [126]:
print(np.allclose(np.power(np.sin(A),2)+np.power(np.cos(A),2),B))

True

**65) Perform matrix multiplication A x B and print result to the console.**

In [127]:
A = np.array([[2, 3],
              [-4, 2],
              [5, 0]])
B = np.array([[4, 3, 2],
              [-1, 0, 2]])

In [128]:
A@B

array([[  5,   6,  10],
       [-18, -12,  -4],
       [ 20,  15,  10]])

**66) Calculate the determinant of this matrix and print it to the console.**

In [129]:
A = np.array([[-2, 0, 4],
              [5, 2, -1],
              [-4, 2, 4]])

In [130]:
print(np.linalg.det(A))

51.999999999999986

**67) alculate eigenvalues and their corresponding eigenvectors of this matrix and print to the console as shown below.**

In [131]:
A = np.array([[5, 8, 16],
              [4, 1, 8],
              [-4, 4, -11]])

In [132]:
val,vec=np.linalg.eig(A)
print(val)
print(vec)

[-9.24621125 -3.          7.24621125]
[[-0.62616472 -0.89442719  0.89015941]
 [-0.31308236  0.          0.4450797 ]
 [ 0.71407086  0.4472136  -0.09757197]]

**68) Find the inverse matrix to this matrix and print it to the console.**

In [133]:
A = np.array([[5, 8, 16],
              [4, 1, 8],
              [-4, 4, -11]])

In [134]:
print(np.linalg.inv(A))

[[-0.21393035  0.75621891  0.23880597]
 [ 0.05970149  0.04477612  0.11940299]
 [ 0.09950249 -0.25870647 -0.13432836]]

**69) Find the trace of this matrix (sum of elements on the main diagonal) and print result to the console.**

In [135]:
A = np.array([[5, 8, 16],
              [4, 1, 8],
              [-4, 4, -11]])

In [136]:
print(np.trace(A))

-5

**70) Transform B array to perform the matrix multiplication A x B. Then perform this multiplication and print result to the console.**

In [137]:
A = np.array([[2, 0],
              [4, 2],
              [5, 3],
              [4, 2]])
B = np.array([[4, 0, 2, 1, 1, 0, 2, 9]])

In [138]:
B=np.reshape(B,(2,4))
A@B

array([[ 8,  0,  4,  2],
       [18,  0, 12, 22],
       [23,  0, 16, 32],
       [18,  0, 12, 22]])

**71) Starting with the second row of this array, randomly shuffle the rows and print result to the console.**

In [139]:
A = np.array([['id', 'price'],
              ['001', 14.99],
              ['002', 4.99],
              ['003', 7.99],
              ['004', 2.49],
              ['005', 1.49]])

In [140]:
np.random.seed(42)
np.random.shuffle(A[1:])
print(A)

[['id' 'price']
 ['002' '4.99']
 ['005' '1.49']
 ['003' '7.99']
 ['001' '14.99']
 ['004' '2.49']]

**72) Return a list of indexes that sorts this array in ascending order and print it to the console.**

In [141]:
A = np.array([0.2, 0.15, 0.1, 0.3, 0.2, 0.05])

In [142]:
print(np.argsort(A))

[5 2 1 0 4 3]

**73) Round the values of this array to three decimal places and print result to the console.**

In [143]:
A = np.random.randn(10, 8)

In [144]:
print(np.round(A,3))

[[ 0.474  1.368 -0.917 -0.124 -2.011 -0.493  0.393 -0.929]
 [ 0.08  -0.16   0.022 -0.428 -0.532 -0.117  0.222 -0.768]
 [ 0.142 -0.035  1.134 -0.105 -0.525  1.913 -2.027  1.119]
 [ 0.779 -1.101  1.13   0.373 -0.386 -1.159  0.566 -0.704]
 [-1.378 -0.353 -0.461  0.067 -0.176  1.201  0.698 -0.172]
 [-0.907  1.189  0.786  2.656  0.263  1.642  0.461  0.086]
 [-1.51   0.722 -0.843 -0.513 -0.044 -0.275 -1.563 -0.796]
 [ 0.931  0.678  0.698  0.174  0.662  0.241 -0.168  1.165]
 [-0.246 -0.77   1.212  1.233 -1.574  0.638 -2.044  1.069]
 [-0.934  0.784 -0.615  0.333 -1.381 -0.281 -0.06   0.961]]

**74) Calculate  the roots of the following polynomial:
![image.png]()
In response, print these roots to the console.**

In [145]:
W=np.array([4,5,1])

In [146]:
print(np.roots(W))

[-1.   -0.25]

**75) Calculate the roots of the following polynomials: ![image.png]() 
In response print these roots to the console as shown below.**

In [147]:
Q=np.array([2,4,-5,1])
W=np.array([2,0,-5,1])

In [148]:
print(np.roots(Q))
print(np.roots(W))

[-2.91610583  0.65388685  0.26221898]
[-1.67298165  1.46961743  0.20336421]

**76) The following polynomials are given: ![image.png]()
  Perform the following operations and print results to the console as shown below:
![image.png]()
)**

In [149]:
W=np.array([4,5,1])
Q=np.array([2,4,-5,1])

In [150]:
print(np.polyadd(W,Q))
print(np.polysub(W,Q))
print(np.polymul(W,Q))
print(np.polyadd(W,2*Q))

[2 8 0 2]
[-2  0 10  0]
[  8  26   2 -17   0   1]
[ 4 12 -5  3]

**77) Use the sign function for this array. Reminder: The sign function works as follows: returns -1 for negative values, zero for zero, and 1 for positive values.**

In [151]:
A = np.array([[-4, 3, 0, 1, -5],
              [6, -4, -2, 1, 3]])

In [152]:
print(np.sign(A))

[[-1  1  0  1 -1]
 [ 1 -1 -1  1  1]]

**78) Using the np.arange() function, generate the following array:**

['2021-01-01' '2021-01-02' '2021-01-03' '2021-01-04' '2021-01-05'
 '2021-01-06' '2021-01-07' '2021-01-08' '2021-01-09' '2021-01-10'
 '2021-01-11' '2021-01-12' '2021-01-13' '2021-01-14' '2021-01-15'
 '2021-01-16' '2021-01-17' '2021-01-18' '2021-01-19' '2021-01-20'
 '2021-01-21' '2021-01-22' '2021-01-23' '2021-01-24' '2021-01-25'
 '2021-01-26' '2021-01-27' '2021-01-28' '2021-01-29' '2021-01-30'
 '2021-01-31']

In [153]:
print(np.arange('2021-01-01','2021-02-01',dtype='datetime64[D]'))

['2021-01-01' '2021-01-02' '2021-01-03' '2021-01-04' '2021-01-05'
 '2021-01-06' '2021-01-07' '2021-01-08' '2021-01-09' '2021-01-10'
 '2021-01-11' '2021-01-12' '2021-01-13' '2021-01-14' '2021-01-15'
 '2021-01-16' '2021-01-17' '2021-01-18' '2021-01-19' '2021-01-20'
 '2021-01-21' '2021-01-22' '2021-01-23' '2021-01-24' '2021-01-25'
 '2021-01-26' '2021-01-27' '2021-01-28' '2021-01-29' '2021-01-30'
 '2021-01-31']

**79) Using the np.arange() function, generate the following array:**

[['2021-01' '2021-02' '2021-03']
 ['2021-04' '2021-05' '2021-06']
 ['2021-07' '2021-08' '2021-09']
 ['2021-10' '2021-11' '2021-12']]

In [154]:
from numpy.core.memmap import dtype
print(np.arange('2021-01','2022-01',dtype='datetime64[M]').reshape((4,3)))

[['2021-01' '2021-02' '2021-03']
 ['2021-04' '2021-05' '2021-06']
 ['2021-07' '2021-08' '2021-09']
 ['2021-10' '2021-11' '2021-12']]

**80)Using the np.datetime64() function, generate today's date and print result to the console.**

In [155]:
print(np.datetime64('today'))

2022-11-14

**81) Using Numpy generate all dates for mondays from January and February 2020 as an array and print result to the console.**

In [156]:
print(np.arange('2020-01-06','2020-03',dtype='datetime64[D]')[::7])

['2020-01-06' '2020-01-13' '2020-01-20' '2020-01-27' '2020-02-03'
 '2020-02-10' '2020-02-17' '2020-02-24']

**82) Merge them together as shown below and print result to the console.**

In [157]:
A = np.array(['001', '002', '003'], dtype=np.str)
B = np.array(['XC', 'YC', 'ZC'], dtype=np.str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [158]:
print(np.char.add(A,B))

['001XC' '002YC' '003ZC']

**83) Add '000' (3 zeros) at the beginning of each element of this array as shown below and print result to the console.**

In [159]:
A = np.array(['1', '2', '3'], dtype=np.str)
B=np.array('000')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

In [160]:
print(np.char.add(B,A))

['0001' '0002' '0003']

In [161]:
print(np.char.rjust(A,4,'0'))

['0001' '0002' '0003']

In [162]:
print(np.char.zfill(A,4))

['0001' '0002' '0003']

**84) Split each element of this array by space character as shown below.**

In [163]:
A = np.array([['PLW CDR 11B TEN', 'AMC LPP'],
              ['CDR PKO KGH', 'CCC QMK']], dtype=np.str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [164]:
print(np.char.split(A))

[[list(['PLW', 'CDR', '11B', 'TEN']) list(['AMC', 'LPP'])]
 [list(['CDR', 'PKO', 'KGH']) list(['CCC', 'QMK'])]]

**85) Replace all # characters with spaces and then strip all unnecessary white characters around the text as shown below. In response, print this array to the console.**

In [165]:
A = np.array([['#summer#time#mood'],
              ['#sport#time']])

In [166]:
A=np.char.replace(A,'#',' ')
print(np.char.strip(A))

[['summer time mood']
 ['sport time']]

**86) Count the number of occurrences of the word 'time' in each element of this array.**

In [167]:
A = np.array([['#summer#time#mood', '#vibe'],
              ['#sport#time', '#good#time'],
              ['#event#summer', '#fast#move']])

In [168]:
print(np.char.count(A,'time'))

[[1 0]
 [1 1]
 [0 0]]

**87) Instrument | ISIN code | Package | Package (PLN) | Share in portfolio (%) | Share in trading shares and PDAs per session (%) | Average spread per session Split text into lines. Then split each line by the tab character \t and create an array (without headers) containing the following data as shown below. Assign this array to the result variable and print it to the console.**

In [169]:
text = """ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14
CCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42
CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7
CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14
DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12
JSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24
KGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8
LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16
LPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19
MBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24
ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13
PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9
PGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18
PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12
PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8
PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9
PLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16
PZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6
SANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18
TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33"""

In [170]:
lines=text.splitlines()
lines=[line.split('\t') for line in lines]
result=np.array(lines,dtype=np.str)
print(result)

[['ALIOR    PLALIOR00045    88 860 000    1 386 216 000    0,891    2,16    14']
 ['CCC    PLCCC0000016    27 918 000    1 292 603 400    0,831    5,28    42']
 ['CDPROJEKT    PLOPTTC00011    67 348 000    22 864 646 000    14,702    7,39    7']
 ['CYFRPLSAT    PLCFRPT00013    275 301 000    6 854 994 900    4,408    1,17    14']
 ['DINOPL    PLDINPL00011    47 937 000    8 916 282 000    5,733    9,13    12']
 ['JSW    PLJSW0000015    52 636 000    716 902 320    0,461    1,51    24']
 ['KGHM    PLKGHM000017    136 410 000    9 881 540 400    6,354    4,78    8']
 ['LOTOS    PLLOTOS00025    86 543 000    5 609 717 260    3,607    2,91    16']
 ['LPP    PLLPP0000011    1 306 000    7 444 200 000    4,787    1,43    19']
 ['MBANK    PLBRE0000012    12 997 000    2 830 746 600    1,820    0,42    24']
 ['ORANGEPL    PLTLKPL00017    647 357 000    4 285 503 340    2,756    1,16    13']
 ['PEKAO    PLPEKAO00016    176 379 000    9 619 710 660    6,185    5,27    9']
 ['PGE    PLPGER000010    796 776 000    3 561 588 720    2,290    2,88    18']
 ['PGNIG    PLPGNIG00014    1 624 608 000    6 072 784 704    3,905    1,56    12']
 ['PKNORLEN    PLPKN0000018    289 049 000    17 701 360 760    11,382    12,44    8']
 ['PKOBP    PLPKO0000016    857 593 000    18 807 014 490    12,093    10,49    9']
 ['PLAY    LU1642887738    114 151 000    3 696 209 380    2,377    1,47    16']
 ['PZU    PLPZU0000011    568 305 000    17 515 160 100    11,262    6,64    6']
 ['SANPL    PLBZ00000044    33 207 000    5 213 499 000    3,352    1,91    18']
 ['TAURONPE    PLTAURN00011    1 043 590 000    1 252 308 000    0,805    1,21    33']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

**88) Remove all spaces in the text and replace all commas with periods. In response, print this array to the console.**

In [171]:
result = np.array([['ALIOR', 'PLALIOR00045', '88 860 000', '1 386 216 000', '0,891', '2,16', '14'],
       ['CCC', 'PLCCC0000016', '27 918 000', '1 292 603 400', '0,831', '5,28', '42'],
       ['CDPROJEKT', 'PLOPTTC00011', '67 348 000', '22 864 646 000', '14,702', '7,39', '7'],
       ['CYFRPLSAT', 'PLCFRPT00013', '275 301 000', '6 854 994 900', '4,408', '1,17', '14'],
       ['DINOPL', 'PLDINPL00011', '47 937 000', '8 916 282 000', '5,733', '9,13', '12'],
       ['JSW', 'PLJSW0000015', '52 636 000', '716 902 320', '0,461', '1,51', '24'],
       ['KGHM', 'PLKGHM000017', '136 410 000', '9 881 540 400', '6,354', '4,78', '8'],
       ['LOTOS', 'PLLOTOS00025', '86 543 000', '5 609 717 260', '3,607', '2,91', '16'],
       ['LPP', 'PLLPP0000011', '1 306 000', '7 444 200 000', '4,787', '1,43', '19'],
       ['MBANK', 'PLBRE0000012', '12 997 000', '2 830 746 600', '1,820', '0,42', '24'],
       ['ORANGEPL', 'PLTLKPL00017', '647 357 000', '4 285 503 340', '2,756', '1,16', '13'],
       ['PEKAO', 'PLPEKAO00016', '176 379 000', '9 619 710 660', '6,185', '5,27', '9'],
       ['PGE', 'PLPGER000010', '796 776 000', '3 561 588 720', '2,290', '2,88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1 624 608 000', '6 072 784 704', '3,905', '1,56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289 049 000', '17 701 360 760', '11,382', '12,44', '8'],
       ['PKOBP', 'PLPKO0000016', '857 593 000', '18 807 014 490', '12,093', '10,49', '9'],
       ['PLAY', 'LU1642887738', '114 151 000', '3 696 209 380', '2,377', '1,47', '16'],
       ['PZU', 'PLPZU0000011', '568 305 000', '17 515 160 100', '11,262', '6,64', '6'],
       ['SANPL', 'PLBZ00000044', '33 207 000', '5 213 499 000', '3,352', '1,91', '18'],
       ['TAURONPE', 'PLTAURN00011', '1 043 590 000', '1 252 308 000', '0,805', '1,21', '33']], dtype='<U14')

In [172]:
print(np.char.replace(np.char.strip(result),',','.'))

[['ALIOR' 'PLALIOR00045' '88 860 000' '1 386 216 000' '0.891' '2.16' '14']
 ['CCC' 'PLCCC0000016' '27 918 000' '1 292 603 400' '0.831' '5.28' '42']
 ['CDPROJEKT' 'PLOPTTC00011' '67 348 000' '22 864 646 000' '14.702'
  '7.39' '7']
 ['CYFRPLSAT' 'PLCFRPT00013' '275 301 000' '6 854 994 900' '4.408' '1.17'
  '14']
 ['DINOPL' 'PLDINPL00011' '47 937 000' '8 916 282 000' '5.733' '9.13'
  '12']
 ['JSW' 'PLJSW0000015' '52 636 000' '716 902 320' '0.461' '1.51' '24']
 ['KGHM' 'PLKGHM000017' '136 410 000' '9 881 540 400' '6.354' '4.78' '8']
 ['LOTOS' 'PLLOTOS00025' '86 543 000' '5 609 717 260' '3.607' '2.91' '16']
 ['LPP' 'PLLPP0000011' '1 306 000' '7 444 200 000' '4.787' '1.43' '19']
 ['MBANK' 'PLBRE0000012' '12 997 000' '2 830 746 600' '1.820' '0.42' '24']
 ['ORANGEPL' 'PLTLKPL00017' '647 357 000' '4 285 503 340' '2.756' '1.16'
  '13']
 ['PEKAO' 'PLPEKAO00016' '176 379 000' '9 619 710 660' '6.185' '5.27' '9']
 ['PGE' 'PLPGER000010' '796 776 000' '3 561 588 720' '2.290' '2.88' '18']
 ['PGNIG' 'PLPGNIG00014' '1 624 608 000' '6 072 784 704' '3.905' '1.56'
  '12']
 ['PKNORLEN' 'PLPKN0000018' '289 049 000' '17 701 360 760' '11.382'
  '12.44' '8']
 ['PKOBP' 'PLPKO0000016' '857 593 000' '18 807 014 490' '12.093' '10.49'
  '9']
 ['PLAY' 'LU1642887738' '114 151 000' '3 696 209 380' '2.377' '1.47' '16']
 ['PZU' 'PLPZU0000011' '568 305 000' '17 515 160 100' '11.262' '6.64' '6']
 ['SANPL' 'PLBZ00000044' '33 207 000' '5 213 499 000' '3.352' '1.91' '18']
 ['TAURONPE' 'PLTAURN00011' '1 043 590 000' '1 252 308 000' '0.805'
  '1.21' '33']]

**89) Extract all rows with the company name starting with the letter 'P' and assign to the stocks_startswith_P variable. In response, print stocks_startswith_P variable to the console.**

In [173]:
result = np.array([['ALIOR', 'PLALIOR00045', '88860000', '1386216000', '0.891', '2.16', '14'],
       ['CCC', 'PLCCC0000016', '27918000', '1292603400', '0.831', '5.28', '42'],
       ['CDPROJEKT', 'PLOPTTC00011', '67348000', '22864646000', '14.702', '7.39', '7'],
       ['CYFRPLSAT', 'PLCFRPT00013', '275301000', '6854994900', '4.408', '1.17', '14'],
       ['DINOPL', 'PLDINPL00011', '47937000', '8916282000', '5.733', '9.13', '12'],
       ['JSW', 'PLJSW0000015', '52636000', '716902320', '0.461', '1.51', '24'],
       ['KGHM', 'PLKGHM000017', '136410000', '9881540400', '6.354', '4.78', '8'],
       ['LOTOS', 'PLLOTOS00025', '86543000', '5609717260', '3.607', '2.91', '16'],
       ['LPP', 'PLLPP0000011', '1306000', '7444200000', '4.787', '1.43', '19'],
       ['MBANK', 'PLBRE0000012', '12997000', '2830746600', '1.820', '0.42', '24'],
       ['ORANGEPL', 'PLTLKPL00017', '647357000', '4285503340', '2.756', '1.16', '13'],
       ['PEKAO', 'PLPEKAO00016', '176379000', '9619710660', '6.185', '5.27', '9'],
       ['PGE', 'PLPGER000010', '796776000', '3561588720', '2.290', '2.88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1624608000', '6072784704', '3.905', '1.56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289049000', '17701360760', '11.382', '12.44', '8'],
       ['PKOBP', 'PLPKO0000016', '857593000', '18807014490', '12.093', '10.49', '9'],
       ['PLAY', 'LU1642887738', '114151000', '3696209380', '2.377', '1.47', '16'],
       ['PZU', 'PLPZU0000011', '568305000', '17515160100', '11.262', '6.64', '6'],
       ['SANPL', 'PLBZ00000044', '33207000', '5213499000', '3.352', '1.91', '18'],
       ['TAURONPE', 'PLTAURN00011', '1043590000', '1252308000', '0.805', '1.21', '33']], dtype='<U12')

In [174]:
stocks_startswith_P=result[np.char.startswith(result[:,0],'P')]
print(stocks_startswith_P)

[['PEKAO' 'PLPEKAO00016' '176379000' '9619710660' '6.185' '5.27' '9']
 ['PGE' 'PLPGER000010' '796776000' '3561588720' '2.290' '2.88' '18']
 ['PGNIG' 'PLPGNIG00014' '1624608000' '6072784704' '3.905' '1.56' '12']
 ['PKNORLEN' 'PLPKN0000018' '289049000' '17701360760' '11.382' '12.44'
  '8']
 ['PKOBP' 'PLPKO0000016' '857593000' '18807014490' '12.093' '10.49' '9']
 ['PLAY' 'LU1642887738' '114151000' '3696209380' '2.377' '1.47' '16']
 ['PZU' 'PLPZU0000011' '568305000' '17515160100' '11.262' '6.64' '6']]

**90) Calculate the total share of companies whose name starts with the letter 'P'. Round the result to two decimal places and print it to the console.**

In [175]:
stocks_startswith_P = np.array([['PEKAO', 'PLPEKAO00016', '176379000', '9619710660', '6.185', '5.27', '9'],
       ['PGE', 'PLPGER000010', '796776000', '3561588720', '2.290', '2.88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1624608000', '6072784704', '3.905', '1.56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289049000', '17701360760', '11.382', '12.44', '8'],
       ['PKOBP', 'PLPKO0000016', '857593000', '18807014490', '12.093', '10.49', '9'],
       ['PLAY', 'LU1642887738', '114151000', '3696209380', '2.377', '1.47', '16'],
       ['PZU', 'PLPZU0000011', '568305000', '17515160100', '11.262', '6.64', '6']], dtype='<U12')

In [176]:
print(np.round(stocks_startswith_P[:,4].astype(float).sum(),2))

49.49

**91) Create an array from this string as shown below and assign to the wig_games variable. In response, print this array to the console.**

[['Profile' 'Time' 'Course' 'Change' 'Change%' 'Ref.' 'Open' 'Low' 'High' 'Volume' 'Turn' 'Share']
 ['11B(11BIT)' '17kwi17:01' '391.00' '+8.00' '(+2.09%)' '383.00' '383.50' '383.00' '394.00' '12784' '4994874' '19.034%']
 ['CDR(CDPROJEKT)' '17kwi17:01' '339.50' '+5.30' '(+1.59%)' '334.20' '338.30' '337.00' '344.20' '233059' '79245368' '39.618%']
 ['CIG(CIGAMES)' '17kwi17:03' '0.742' '-0.012' '(-1.59%)' '0.754' '0.772' '0.730' '0.772' '1311078' '971459' '1.855%']
 ['PLW(PLAYWAY)' '17kwi17:03' '387.50' '+18.00' '(+4.87%)' '369.50' '374.00' '373.00' '388.00' '33206' '12661786' '10.638%']
 ['TEN(TSGAMES)' '17kwi17:02' '349.50' '+22.50' '(+6.88%)' '327.00' '332.00' '330.00' '353.50' '39793' '13697060' '28.855%']]

In [177]:
wig_games_raw = """Profile    Time    Course    Change    Change%    Ref.    Open    Low    High    Volume    Turn    Share
11B (11BIT)    17 kwi 17:01    391.00    +8.00    (+2.09%)    383.00    383.50    383.00    394.00    12 784    4 994 874    19.034%
CDR (CDPROJEKT)    17 kwi 17:01    339.50    +5.30    (+1.59%)    334.20    338.30    337.00    344.20    233 059    79 245 368    39.618%
CIG (CIGAMES)    17 kwi 17:03    0.742    -0.012    (-1.59%)    0.754    0.772    0.730    0.772    1 311 078    971 459    1.855%
PLW (PLAYWAY)    17 kwi 17:03    387.50    +18.00    (+4.87%)    369.50    374.00    373.00    388.00    33 206    12 661 786    10.638%
TEN (TSGAMES)    17 kwi 17:02    349.50    +22.50    (+6.88%)    327.00    332.00    330.00    353.50    39 793    13 697 060    28.855%"""

In [178]:
lines=wig_games_raw.splitlines()
lines=[line.split('\t') for line in lines]
wig_games=np.array(lines,dtype=np.str)
wig_games=np.char.replace(wig_games,' ','')
print(wig_games)

[['ProfileTimeCourseChangeChange%Ref.OpenLowHighVolumeTurnShare']
 ['11B(11BIT)17kwi17:01391.00+8.00(+2.09%)383.00383.50383.00394.0012784499487419.034%']
 ['CDR(CDPROJEKT)17kwi17:01339.50+5.30(+1.59%)334.20338.30337.00344.202330597924536839.618%']
 ['CIG(CIGAMES)17kwi17:030.742-0.012(-1.59%)0.7540.7720.7300.77213110789714591.855%']
 ['PLW(PLAYWAY)17kwi17:03387.50+18.00(+4.87%)369.50374.00373.00388.00332061266178610.638%']
 ['TEN(TSGAMES)17kwi17:02349.50+22.50(+6.88%)327.00332.00330.00353.50397931369706028.855%']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

**92) Remove the following columns:**

'Change'

'Change%'

'Ref.'

'Volume'

In [179]:
wig_games = np.array([['Profile', 'Time', 'Course', 'Change', 'Change%', 'Ref.', 'Open', 'Low', 'High', 'Volume', 'Turn', 'Share'],
       ['11B(11BIT)', '17kwi17:01', '391.00', '+8.00', '(+2.09%)', '383.00', '383.50', '383.00', '394.00', '12784', '4994874', '19.034%'],
       ['CDR(CDPROJEKT)', '17kwi17:01', '339.50', '+5.30', '(+1.59%)', '334.20', '338.30', '337.00', '344.20', '233059', '79245368', '39.618%'],
       ['CIG(CIGAMES)', '17kwi17:03', '0.742', '-0.012', '(-1.59%)', '0.754', '0.772', '0.730', '0.772', '1311078', '971459', '1.855%'],
       ['PLW(PLAYWAY)', '17kwi17:03', '387.50', '+18.00', '(+4.87%)', '369.50', '374.00', '373.00', '388.00', '33206', '12661786', '10.638%'],
       ['TEN(TSGAMES)', '17kwi17:02', '349.50', '+22.50', '(+6.88%)', '327.00', '332.00', '330.00', '353.50', '39793', '13697060', '28.855%']], dtype='<U14')

In [180]:
wig_games=np.delete(wig_games,[3,4,5,9],axis=1)
print(wig_games)

[['Profile' 'Time' 'Course' 'Open' 'Low' 'High' 'Turn' 'Share']
 ['11B(11BIT)' '17kwi17:01' '391.00' '383.50' '383.00' '394.00' '4994874'
  '19.034%']
 ['CDR(CDPROJEKT)' '17kwi17:01' '339.50' '338.30' '337.00' '344.20'
  '79245368' '39.618%']
 ['CIG(CIGAMES)' '17kwi17:03' '0.742' '0.772' '0.730' '0.772' '971459'
  '1.855%']
 ['PLW(PLAYWAY)' '17kwi17:03' '387.50' '374.00' '373.00' '388.00'
  '12661786' '10.638%']
 ['TEN(TSGAMES)' '17kwi17:02' '349.50' '332.00' '330.00' '353.50'
  '13697060' '28.855%']]

**93) Save this array to the 'wig_games.csv' file. Then load the content of this file into the wig_games_new variable and print it to the console.**

In [181]:
wig_games = np.array([['Profile', 'Time', 'Course', 'Open', 'Low', 'High', 'Turn', 'Share'],
       ['11B(11BIT)', '17kwi17:01', '391.00', '383.50', '383.00', '394.00', '4994874', '19.034%'],
       ['CDR(CDPROJEKT)', '17kwi17:01', '339.50', '338.30', '337.00', '344.20', '79245368', '39.618%'],
       ['CIG(CIGAMES)', '17kwi17:03', '0.742', '0.772', '0.730', '0.772', '971459', '1.855%'],
       ['PLW(PLAYWAY)', '17kwi17:03', '387.50', '374.00', '373.00', '388.00', '12661786', '10.638%'],
       ['TEN(TSGAMES)', '17kwi17:02', '349.50', '332.00', '330.00', '353.50', '13697060', '28.855%']], dtype='<U14')

In [182]:
np.savetxt(fname='wig_games.csv', X=wig_games, fmt='%s', delimiter=',')
wig_games_new = np.loadtxt(
    fname='wig_games.csv', 
    delimiter=',', 
    dtype=str)
print(wig_games_new)

[['Profile' 'Time' 'Course' 'Open' 'Low' 'High' 'Turn' 'Share']
 ['11B(11BIT)' '17kwi17:01' '391.00' '383.50' '383.00' '394.00' '4994874'
  '19.034%']
 ['CDR(CDPROJEKT)' '17kwi17:01' '339.50' '338.30' '337.00' '344.20'
  '79245368' '39.618%']
 ['CIG(CIGAMES)' '17kwi17:03' '0.742' '0.772' '0.730' '0.772' '971459'
  '1.855%']
 ['PLW(PLAYWAY)' '17kwi17:03' '387.50' '374.00' '373.00' '388.00'
  '12661786' '10.638%']
 ['TEN(TSGAMES)' '17kwi17:02' '349.50' '332.00' '330.00' '353.50'
  '13697060' '28.855%']]

**94) Create an array from this string as shown below and assign to the playway variable. In response, print this array to the console.**

In [183]:
playway_raw = """Date,Open,High,Low,Close,Volume
2020-03-02,305,324.5,283.5,310,64081
2020-03-03,325.5,340.5,320,340.5,55496
2020-03-04,324,340.5,315,330,36152
2020-03-05,344,344,310,315,35992
2020-03-06,306.5,307,291,305,32539
2020-03-09,274,291,250,258,79402
2020-03-10,278,284.5,256,264,35700
2020-03-11,270,270,238.5,245,60445
2020-03-12,218,228,196,197,94031
2020-03-13,210,229,198.8,211,100412
2020-03-16,205,248,197.8,240.5,50659
2020-03-17,245,269,232.5,264,99480
2020-03-18,264,280,251,270,70136
2020-03-19,267,280,267,279.5,30732
2020-03-20,297.5,307,280,280.5,43426
2020-03-23,274,289,258,285,37098
2020-03-24,305,309,296.5,309,31939
2020-03-25,313,330,295,304,46724
2020-03-26,300,309,295.5,300,27213
2020-03-27,302,306.5,290,296,13466
2020-03-30,299,300,287,300,10316
2020-03-31,302.5,309,302,306.5,15698"""

In [184]:
lines=playway_raw.splitlines()
lines=[line.split(',') for line in lines]
playway=np.array(lines,dtype=np.str)
print(playway)

[['Date' 'Open' 'High' 'Low' 'Close' 'Volume']
 ['2020-03-02' '305' '324.5' '283.5' '310' '64081']
 ['2020-03-03' '325.5' '340.5' '320' '340.5' '55496']
 ['2020-03-04' '324' '340.5' '315' '330' '36152']
 ['2020-03-05' '344' '344' '310' '315' '35992']
 ['2020-03-06' '306.5' '307' '291' '305' '32539']
 ['2020-03-09' '274' '291' '250' '258' '79402']
 ['2020-03-10' '278' '284.5' '256' '264' '35700']
 ['2020-03-11' '270' '270' '238.5' '245' '60445']
 ['2020-03-12' '218' '228' '196' '197' '94031']
 ['2020-03-13' '210' '229' '198.8' '211' '100412']
 ['2020-03-16' '205' '248' '197.8' '240.5' '50659']
 ['2020-03-17' '245' '269' '232.5' '264' '99480']
 ['2020-03-18' '264' '280' '251' '270' '70136']
 ['2020-03-19' '267' '280' '267' '279.5' '30732']
 ['2020-03-20' '297.5' '307' '280' '280.5' '43426']
 ['2020-03-23' '274' '289' '258' '285' '37098']
 ['2020-03-24' '305' '309' '296.5' '309' '31939']
 ['2020-03-25' '313' '330' '295' '304' '46724']
 ['2020-03-26' '300' '309' '295.5' '300' '27213']
 ['2020-03-27' '302' '306.5' '290' '296' '13466']
 ['2020-03-30' '299' '300' '287' '300' '10316']
 ['2020-03-31' '302.5' '309' '302' '306.5' '15698']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

**95) Delete the 'Date' column. Then remove the headers and assign result to the playway_values variable. Convert this array to the float data type and print result to the console.**

In [185]:
playway = np.array([['Date', 'Open', 'High', 'Low', 'Close', 'Volume'],
       ['2020-03-02', '305', '324.5', '283.5', '310', '64081'],
       ['2020-03-03', '325.5', '340.5', '320', '340.5', '55496'],
       ['2020-03-04', '324', '340.5', '315', '330', '36152'],
       ['2020-03-05', '344', '344', '310', '315', '35992'],
       ['2020-03-06', '306.5', '307', '291', '305', '32539'],
       ['2020-03-09', '274', '291', '250', '258', '79402'],
       ['2020-03-10', '278', '284.5', '256', '264', '35700'],
       ['2020-03-11', '270', '270', '238.5', '245', '60445'],
       ['2020-03-12', '218', '228', '196', '197', '94031'],
       ['2020-03-13', '210', '229', '198.8', '211', '100412'],
       ['2020-03-16', '205', '248', '197.8', '240.5', '50659'],
       ['2020-03-17', '245', '269', '232.5', '264', '99480'],
       ['2020-03-18', '264', '280', '251', '270', '70136'],
       ['2020-03-19', '267', '280', '267', '279.5', '30732'],
       ['2020-03-20', '297.5', '307', '280', '280.5', '43426'],
       ['2020-03-23', '274', '289', '258', '285', '37098'],
       ['2020-03-24', '305', '309', '296.5', '309', '31939'],
       ['2020-03-25', '313', '330', '295', '304', '46724'],
       ['2020-03-26', '300', '309', '295.5', '300', '27213'],
       ['2020-03-27', '302', '306.5', '290', '296', '13466'],
       ['2020-03-30', '299', '300', '287', '300', '10316'],
       ['2020-03-31', '302.5', '309', '302', '306.5', '15698']],
      dtype='<U10')

In [186]:
playway_values=np.delete(playway[1:,:],0,axis=1).astype(float)
print(playway_values)

[[   305.     324.5    283.5    310.   64081. ]
 [   325.5    340.5    320.     340.5  55496. ]
 [   324.     340.5    315.     330.   36152. ]
 [   344.     344.     310.     315.   35992. ]
 [   306.5    307.     291.     305.   32539. ]
 [   274.     291.     250.     258.   79402. ]
 [   278.     284.5    256.     264.   35700. ]
 [   270.     270.     238.5    245.   60445. ]
 [   218.     228.     196.     197.   94031. ]
 [   210.     229.     198.8    211.  100412. ]
 [   205.     248.     197.8    240.5  50659. ]
 [   245.     269.     232.5    264.   99480. ]
 [   264.     280.     251.     270.   70136. ]
 [   267.     280.     267.     279.5  30732. ]
 [   297.5    307.     280.     280.5  43426. ]
 [   274.     289.     258.     285.   37098. ]
 [   305.     309.     296.5    309.   31939. ]
 [   313.     330.     295.     304.   46724. ]
 [   300.     309.     295.5    300.   27213. ]
 [   302.     306.5    290.     296.   13466. ]
 [   299.     300.     287.     300.   10316. ]
 [   302.5    309.     302.     306.5  15698. ]]

**96) Calculate the average value for each column. Round the result to two decimal places and print it to the console.**

In [187]:
playway_values = np.array([[   305. ,    324.5,    283.5,    310. ,  64081. ],
       [   325.5,    340.5,    320. ,    340.5,  55496. ],
       [   324. ,    340.5,    315. ,    330. ,  36152. ],
       [   344. ,    344. ,    310. ,    315. ,  35992. ],
       [   306.5,    307. ,    291. ,    305. ,  32539. ],
       [   274. ,    291. ,    250. ,    258. ,  79402. ],
       [   278. ,    284.5,    256. ,    264. ,  35700. ],
       [   270. ,    270. ,    238.5,    245. ,  60445. ],
       [   218. ,    228. ,    196. ,    197. ,  94031. ],
       [   210. ,    229. ,    198.8,    211. , 100412. ],
       [   205. ,    248. ,    197.8,    240.5,  50659. ],
       [   245. ,    269. ,    232.5,    264. ,  99480. ],
       [   264. ,    280. ,    251. ,    270. ,  70136. ],
       [   267. ,    280. ,    267. ,    279.5,  30732. ],
       [   297.5,    307. ,    280. ,    280.5,  43426. ],
       [   274. ,    289. ,    258. ,    285. ,  37098. ],
       [   305. ,    309. ,    296.5,    309. ,  31939. ],
       [   313. ,    330. ,    295. ,    304. ,  46724. ],
       [   300. ,    309. ,    295.5,    300. ,  27213. ],
       [   302. ,    306.5,    290. ,    296. ,  13466. ],
       [   299. ,    300. ,    287. ,    300. ,  10316. ],
       [   302.5,    309. ,    302. ,    306.5,  15698. ]])

In [188]:
print(np.round(np.average(playway_values,axis=0),2))

[  283.14   295.25   268.69   282.3  48688.05]

In [189]:
print(np.round(playway_values.mean(axis=0), 2))

[  283.14   295.25   268.69   282.3  48688.05]

**97) Calculate the new column: the difference between the highest and lowest price.**

In [190]:
playway_values = np.array([[   305. ,    324.5,    283.5,    310. ,  64081. ],
       [   325.5,    340.5,    320. ,    340.5,  55496. ],
       [   324. ,    340.5,    315. ,    330. ,  36152. ],
       [   344. ,    344. ,    310. ,    315. ,  35992. ],
       [   306.5,    307. ,    291. ,    305. ,  32539. ],
       [   274. ,    291. ,    250. ,    258. ,  79402. ],
       [   278. ,    284.5,    256. ,    264. ,  35700. ],
       [   270. ,    270. ,    238.5,    245. ,  60445. ],
       [   218. ,    228. ,    196. ,    197. ,  94031. ],
       [   210. ,    229. ,    198.8,    211. , 100412. ],
       [   205. ,    248. ,    197.8,    240.5,  50659. ],
       [   245. ,    269. ,    232.5,    264. ,  99480. ],
       [   264. ,    280. ,    251. ,    270. ,  70136. ],
       [   267. ,    280. ,    267. ,    279.5,  30732. ],
       [   297.5,    307. ,    280. ,    280.5,  43426. ],
       [   274. ,    289. ,    258. ,    285. ,  37098. ],
       [   305. ,    309. ,    296.5,    309. ,  31939. ],
       [   313. ,    330. ,    295. ,    304. ,  46724. ],
       [   300. ,    309. ,    295.5,    300. ,  27213. ],
       [   302. ,    306.5,    290. ,    296. ,  13466. ],
       [   299. ,    300. ,    287. ,    300. ,  10316. ],
       [   302.5,    309. ,    302. ,    306.5,  15698. ]])

In [191]:
max_min_diff=playway_values[:,[1]]-playway_values[:,[2]]
playway_values=np.concatenate((playway_values,max_min_diff),axis=1)
print(playway_values)

[[   305.     324.5    283.5    310.   64081.      41. ]
 [   325.5    340.5    320.     340.5  55496.      20.5]
 [   324.     340.5    315.     330.   36152.      25.5]
 [   344.     344.     310.     315.   35992.      34. ]
 [   306.5    307.     291.     305.   32539.      16. ]
 [   274.     291.     250.     258.   79402.      41. ]
 [   278.     284.5    256.     264.   35700.      28.5]
 [   270.     270.     238.5    245.   60445.      31.5]
 [   218.     228.     196.     197.   94031.      32. ]
 [   210.     229.     198.8    211.  100412.      30.2]
 [   205.     248.     197.8    240.5  50659.      50.2]
 [   245.     269.     232.5    264.   99480.      36.5]
 [   264.     280.     251.     270.   70136.      29. ]
 [   267.     280.     267.     279.5  30732.      13. ]
 [   297.5    307.     280.     280.5  43426.      27. ]
 [   274.     289.     258.     285.   37098.      31. ]
 [   305.     309.     296.5    309.   31939.      12.5]
 [   313.     330.     295.     304.   46724.      35. ]
 [   300.     309.     295.5    300.   27213.      13.5]
 [   302.     306.5    290.     296.   13466.      16.5]
 [   299.     300.     287.     300.   10316.      13. ]
 [   302.5    309.     302.     306.5  15698.       7. ]]

**98) Extract rows from this array where closing price (column with index 3) is greater than 300.0. In response, print result to the console.**

In [192]:
playway_values = np.array([[   305. ,    324.5,    283.5,    310. ,  64081. ],
       [   325.5,    340.5,    320. ,    340.5,  55496. ],
       [   324. ,    340.5,    315. ,    330. ,  36152. ],
       [   344. ,    344. ,    310. ,    315. ,  35992. ],
       [   306.5,    307. ,    291. ,    305. ,  32539. ],
       [   274. ,    291. ,    250. ,    258. ,  79402. ],
       [   278. ,    284.5,    256. ,    264. ,  35700. ],
       [   270. ,    270. ,    238.5,    245. ,  60445. ],
       [   218. ,    228. ,    196. ,    197. ,  94031. ],
       [   210. ,    229. ,    198.8,    211. , 100412. ],
       [   205. ,    248. ,    197.8,    240.5,  50659. ],
       [   245. ,    269. ,    232.5,    264. ,  99480. ],
       [   264. ,    280. ,    251. ,    270. ,  70136. ],
       [   267. ,    280. ,    267. ,    279.5,  30732. ],
       [   297.5,    307. ,    280. ,    280.5,  43426. ],
       [   274. ,    289. ,    258. ,    285. ,  37098. ],
       [   305. ,    309. ,    296.5,    309. ,  31939. ],
       [   313. ,    330. ,    295. ,    304. ,  46724. ],
       [   300. ,    309. ,    295.5,    300. ,  27213. ],
       [   302. ,    306.5,    290. ,    296. ,  13466. ],
       [   299. ,    300. ,    287. ,    300. ,  10316. ],
       [   302.5,    309. ,    302. ,    306.5,  15698. ]])

In [193]:
print(playway_values[playway_values[:,3]>300.0])

[[  305.    324.5   283.5   310.  64081. ]
 [  325.5   340.5   320.    340.5 55496. ]
 [  324.    340.5   315.    330.  36152. ]
 [  344.    344.    310.    315.  35992. ]
 [  306.5   307.    291.    305.  32539. ]
 [  305.    309.    296.5   309.  31939. ]
 [  313.    330.    295.    304.  46724. ]
 [  302.5   309.    302.    306.5 15698. ]]

**99) From this array extract the first 10 rows with the highest volume sorted in descending order.**

In [194]:
playway_values = np.array([[   305. ,    324.5,    283.5,    310. ,  64081. ,     41. ],
       [   325.5,    340.5,    320. ,    340.5,  55496. ,     20.5],
       [   324. ,    340.5,    315. ,    330. ,  36152. ,     25.5],
       [   344. ,    344. ,    310. ,    315. ,  35992. ,     34. ],
       [   306.5,    307. ,    291. ,    305. ,  32539. ,     16. ],
       [   274. ,    291. ,    250. ,    258. ,  79402. ,     41. ],
       [   278. ,    284.5,    256. ,    264. ,  35700. ,     28.5],
       [   270. ,    270. ,    238.5,    245. ,  60445. ,     31.5],
       [   218. ,    228. ,    196. ,    197. ,  94031. ,     32. ],
       [   210. ,    229. ,    198.8,    211. , 100412. ,     30.2],
       [   205. ,    248. ,    197.8,    240.5,  50659. ,     50.2],
       [   245. ,    269. ,    232.5,    264. ,  99480. ,     36.5],
       [   264. ,    280. ,    251. ,    270. ,  70136. ,     29. ],
       [   267. ,    280. ,    267. ,    279.5,  30732. ,     13. ],
       [   297.5,    307. ,    280. ,    280.5,  43426. ,     27. ],
       [   274. ,    289. ,    258. ,    285. ,  37098. ,     31. ],
       [   305. ,    309. ,    296.5,    309. ,  31939. ,     12.5],
       [   313. ,    330. ,    295. ,    304. ,  46724. ,     35. ],
       [   300. ,    309. ,    295.5,    300. ,  27213. ,     13.5],
       [   302. ,    306.5,    290. ,    296. ,  13466. ,     16.5],
       [   299. ,    300. ,    287. ,    300. ,  10316. ,     13. ],
       [   302.5,    309. ,    302. ,    306.5,  15698. ,      7. ]])

In [195]:
print(playway_values[playway_values[:,4].argsort()[::-1]][:10])

[[   210.     229.     198.8    211.  100412.      30.2]
 [   245.     269.     232.5    264.   99480.      36.5]
 [   218.     228.     196.     197.   94031.      32. ]
 [   274.     291.     250.     258.   79402.      41. ]
 [   264.     280.     251.     270.   70136.      29. ]
 [   305.     324.5    283.5    310.   64081.      41. ]
 [   270.     270.     238.5    245.   60445.      31.5]
 [   325.5    340.5    320.     340.5  55496.      20.5]
 [   205.     248.     197.8    240.5  50659.      50.2]
 [   313.     330.     295.     304.   46724.      35. ]]

**100) Add to this array column that returns 1 in case the close price is higher than the open price, otherwise 0.**

In [196]:
playway_values = np.array([[   305. ,    324.5,    283.5,    310. ,  64081. ,     41. ],
       [   325.5,    340.5,    320. ,    340.5,  55496. ,     20.5],
       [   324. ,    340.5,    315. ,    330. ,  36152. ,     25.5],
       [   344. ,    344. ,    310. ,    315. ,  35992. ,     34. ],
       [   306.5,    307. ,    291. ,    305. ,  32539. ,     16. ],
       [   274. ,    291. ,    250. ,    258. ,  79402. ,     41. ],
       [   278. ,    284.5,    256. ,    264. ,  35700. ,     28.5],
       [   270. ,    270. ,    238.5,    245. ,  60445. ,     31.5],
       [   218. ,    228. ,    196. ,    197. ,  94031. ,     32. ],
       [   210. ,    229. ,    198.8,    211. , 100412. ,     30.2],
       [   205. ,    248. ,    197.8,    240.5,  50659. ,     50.2],
       [   245. ,    269. ,    232.5,    264. ,  99480. ,     36.5],
       [   264. ,    280. ,    251. ,    270. ,  70136. ,     29. ],
       [   267. ,    280. ,    267. ,    279.5,  30732. ,     13. ],
       [   297.5,    307. ,    280. ,    280.5,  43426. ,     27. ],
       [   274. ,    289. ,    258. ,    285. ,  37098. ,     31. ],
       [   305. ,    309. ,    296.5,    309. ,  31939. ,     12.5],
       [   313. ,    330. ,    295. ,    304. ,  46724. ,     35. ],
       [   300. ,    309. ,    295.5,    300. ,  27213. ,     13.5],
       [   302. ,    306.5,    290. ,    296. ,  13466. ,     16.5],
       [   299. ,    300. ,    287. ,    300. ,  10316. ,     13. ],
       [   302.5,    309. ,    302. ,    306.5,  15698. ,      7. ]])

In [197]:
from sys import float_info
flag=playway_values[:,[0]]<playway_values[:,[3]]
flag=flag.astype(int)
playway_values=np.concatenate((playway_values,flag),axis=1)
print(playway_values)

[[   305.     324.5    283.5    310.   64081.      41.       1. ]
 [   325.5    340.5    320.     340.5  55496.      20.5      1. ]
 [   324.     340.5    315.     330.   36152.      25.5      1. ]
 [   344.     344.     310.     315.   35992.      34.       0. ]
 [   306.5    307.     291.     305.   32539.      16.       0. ]
 [   274.     291.     250.     258.   79402.      41.       0. ]
 [   278.     284.5    256.     264.   35700.      28.5      0. ]
 [   270.     270.     238.5    245.   60445.      31.5      0. ]
 [   218.     228.     196.     197.   94031.      32.       0. ]
 [   210.     229.     198.8    211.  100412.      30.2      1. ]
 [   205.     248.     197.8    240.5  50659.      50.2      1. ]
 [   245.     269.     232.5    264.   99480.      36.5      1. ]
 [   264.     280.     251.     270.   70136.      29.       1. ]
 [   267.     280.     267.     279.5  30732.      13.       1. ]
 [   297.5    307.     280.     280.5  43426.      27.       0. ]
 [   274.     289.     258.     285.   37098.      31.       1. ]
 [   305.     309.     296.5    309.   31939.      12.5      1. ]
 [   313.     330.     295.     304.   46724.      35.       0. ]
 [   300.     309.     295.5    300.   27213.      13.5      0. ]
 [   302.     306.5    290.     296.   13466.      16.5      0. ]
 [   299.     300.     287.     300.   10316.      13.       1. ]
 [   302.5    309.     302.     306.5  15698.       7.       1. ]]

**101) Solve the following system of equations using the Numpy package:**

![image.png]()

In [198]:
A=np.array([[5,-3],[1,-2]])
B=np.array([[21],[7]])

In [199]:
X=np.dot(np.linalg.inv(A),B)
x=X[0][0]
y=X[1][0]
print(f'x={x:.2f}\ny={y:.2f}')

x=3.00
y=-2.00

**102) Solve the following system of equations using the Numpy package:**

![image.png]()

In [200]:
A=np.array([[1,1,1],[2,1,5],[1,-1,-1]])
B=np.array([[1],[0],[0]])

In [201]:
X=np.dot(np.linalg.inv(A),B)
x=X[0][0]
y=X[1][0]
z=X[2][0]
print(f'x={x:.2f}\ny={y:.2f}\nz={z:.2f}')

x=0.50
y=0.88
z=-0.38